HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/application.yml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/static/_nuxt/builds/meta/c4509e2e-7899-4637-b407-ded0c9004179.json
/src/main/resources/static/_nuxt/builds/meta/dev.json
/src/main/resources/static/_nuxt/builds/latest.json
/src/main/resources/static/_nuxt/ActiveBar.K7p1OUME.css
/src/main/resources/static/_nuxt/B6sNpj_1.js
/src/main/resources/static/_nuxt/B6xDirVP.js
/src/main/resources/static/_nuxt/B-p6aW7q.js
/src/main/resources/static/_nuxt/BcsJMu-m.js
/src/main/resources/static/_nuxt/Bf__uqGB.js
/src/main/resources/static/_nuxt/BGbO3SI4.js
/src/main/resources/static/_nuxt/BHeXD3mi.js
/src/main/resources/static/_nuxt/BJIkOTZV.js
/src/main/resources/static/_nuxt/BKh3pCgU.js
/src/main/resources/static/_nuxt/BoqxN_4u.js
/src/main/resources/static/_nuxt/Bsdu7z3-.js
/src/main/resources/static/_nuxt/BsEaA8ZF.js
/src/main/resources/static/_nuxt/BsYNqLsR.js
/src/main/resources/static/_nuxt/BYhbPdux.js
/src/main/resources/static/_nuxt/C0qIIVU1.js
/src/main/resources/static/_nuxt/C6urIrV1.js
/src/main/resources/static/_nuxt/C645L9eq.js
/src/main/resources/static/_nuxt/CEUXGkNS.js
/src/main/resources/static/_nuxt/CFhhu49h.js
/src/main/resources/static/_nuxt/CHxfsfA2.js
/src/main/resources/static/_nuxt/CJ9LEvap.js
/src/main/resources/static/_nuxt/Cp5VQimY.js
/src/main/resources/static/_nuxt/Cpj98o6Y.js
/src/main/resources/static/_nuxt/CQLyREVR.js
/src/main/resources/static/_nuxt/CTvpfRHS.js
/src/main/resources/static/_nuxt/CU0qH4Mu.js
/src/main/resources/static/_nuxt/CVWexwzo.js
/src/main/resources/static/_nuxt/CZXuu0yH.js
/src/main/resources/static/_nuxt/D0lWw53w.js
/src/main/resources/static/_nuxt/D7ou2ubO.js
/src/main/resources/static/_nuxt/D-WbqJfC.js
/src/main/resources/static/_nuxt/DBLDnubl.js
/src/main/resources/static/_nuxt/default.DYC5syKp.css
/src/main/resources/static/_nuxt/DHhDGLXV.js
/src/main/resources/static/_nuxt/DHZO4hfk.js
/src/main/resources/static/_nuxt/DK6OmtDR.js
/src/main/resources/static/_nuxt/DlAUqK2U.js
/src/main/resources/static/_nuxt/DMIydVUW.js
/src/main/resources/static/_nuxt/DNlrIJvd.js
/src/main/resources/static/_nuxt/DocxViewer.CEU2Nc9M.css
/src/main/resources/static/_nuxt/DPDc6quA.js
/src/main/resources/static/_nuxt/DR_pC-Vt.js
/src/main/resources/static/_nuxt/DrUO2trY.js
/src/main/resources/static/_nuxt/DSelTxGj.js
/src/main/resources/static/_nuxt/DuraWtQk.js
/src/main/resources/static/_nuxt/DXdqE1EC.js
/src/main/resources/static/_nuxt/DXeecKt4.js
/src/main/resources/static/_nuxt/E5lyGXtX.js
/src/main/resources/static/_nuxt/entry.BGE168OB.css
/src/main/resources/static/_nuxt/error-404.DXySnQZL.css
/src/main/resources/static/_nuxt/error-500.CIkJDsQj.css
/src/main/resources/static/_nuxt/FileIcon.q_dIGo8G.css
/src/main/resources/static/_nuxt/FileViewer.DT7p_icH.css
/src/main/resources/static/_nuxt/fWXHbb7j.js
/src/main/resources/static/_nuxt/iconfont.CJc522Vm.woff
/src/main/resources/static/_nuxt/iconfont.p5Xazydy.ttf
/src/main/resources/static/_nuxt/iconfont.VIElxF1S.woff2
/src/main/resources/static/_nuxt/index.D_BYOIAc.css
/src/main/resources/static/_nuxt/index.UvxCJt5V.css
/src/main/resources/static/_nuxt/IvexWOc6.js
/src/main/resources/static/_nuxt/jCdyhx5r.js
/src/main/resources/static/_nuxt/jCP0Blml.js
/src/main/resources/static/_nuxt/login.Be-XgLZv.css
/src/main/resources/static/_nuxt/lRQTlFVV.js
/src/main/resources/static/_nuxt/ODt963sV.js
/src/main/resources/static/_nuxt/rSjhQ__q.js
/src/main/resources/static/_nuxt/rXHBdyV9.js
/src/main/resources/static/_nuxt/share.Cy5Ugn5r.css
/src/main/resources/static/_nuxt/v2iqfjrK.js
/src/main/resources/static/_nuxt/wbmlu_ML.js
/src/main/resources/static/_nuxt/X1QbAPia.js
/src/main/resources/static/_nuxt/XLSXViewer.CctrhMpi.css
/src/main/resources/static/_nuxt/xQ6U5hbb.js
/src/main/resources/static/200.html
/src/main/resources/static/404.html
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
/src/main/resources/static/test.pdf
/config_backup/
