server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
app:
  installed: false
  data-save-path: ''
  client-baseurl: ''
  ffmpeg:
    enable: false
    dir: ''
